.reading_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plans {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .point {
    align-items: flex-start;
    gap: 10px;
    height: auto;
  }

  .reading_card {
    margin-top: 20px;
  }

  .head_plan {
    gap: 5px;
    padding-top: 5px;
  }

  .point img.card_image {
    width: 100%;
    height: auto;
  }

  .plan_footer {
    position: static;
    margin-top: 5px;
  }

  .second_icon {
    position: static;
    margin-left: auto;
  }
}
