.menu ul li {
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: 0.3s;
}

.menu ul li a:hover,
.menu ul li.active a {
  color: #000;
  background-color: #f6f6f6;
}

.menu ul li .icon {
  font-size: 20px;
}
